<head>
  <link href="https://fonts.googleapis.com/css?family=Lora|Ubuntu:400,&display=swap" rel="stylesheet">
</head>
<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="container container-nav">
      <div class="site-title">
        <h1> <i class="fa fa-film fa-lg"></i> Movie updates</h1>
      </div>
      <ul>
        <li routerLinkActive="active"><a routerLink="/in-theatres">In Theatres</a></li>
        <li routerLinkActive="active"><a routerLink="/upcoming-movies">Upcoming Movies</a></li>
      </ul>
    </div><!--/. container-->
</nav>
