
input {
  border: 1px solid #E8E8E8;
}


.movie-content {
  display: flex;
  padding: 10px;
  font-family: 'Ubuntu', sans-serif;
  text-align: left;
  font-weight: lighter;
  font-size: medium;
  max-width: 650px;
  justify-content: center;
  background: rgba(75, 74, 74, 0.082);
}

#features-wrapper {
		padding: 3em 0 3em 0;
}

.row {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: auto;
  grid-auto-flow: dense;
  box-sizing: border-box;
  align-items: stretch;
}

