/* You can add global styles to this file, and also import other style files */
@import url(bootstrap/dist/css/bootstrap.min.css);
@import url(font-awesome/css/font-awesome.css);

body {
  font-size: 18px;
  line-height: 1.58;
  background: whitesmoke;
  color: #333;
}

h1 {
  font-size: 36px;
}

* {
  box-sizing: border-box;
}

i {
  vertical-align: middle;
  color: #626262;
}

input {
  border: 1px solid #E8E8E8;
}

.page-title {
  text-align: center;
}

.movie-content {
  font-weight: bold;
  max-width: 650px;
  width: 100%;
  margin: 0 auto;
  margin-top: 60px;
  background-color: #fff;
  padding: 15px;
  box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
}

.movie-text {
  display: inline-block;
  vertical-align: middle;
  font-size: 15px;
  font-weight: normal;

}
