/* You can add global styles to this file, and also import other style files */
@import url(bootstrap/dist/css/bootstrap.min.css);
@import url(font-awesome/css/font-awesome.css);

body {
  font-size: 18px;
  line-height: 1.58;
  background: whitesmoke;
  color: #333;
}

h1 {
  font-size: 36px;
}

* {
  box-sizing: border-box;
}

i {
  vertical-align: middle;
  color: #626262;
}
